Package: mcasm
Version: 1.2
Architecture: i386
Maintainer: Alexios Chouchoulas <alexios@bedroomlan.org>
Installed-Size: 66
Section: python
Priority: optional
Homepage: http://www.bedroomlan.org/projects/mcasm
Description: Microcode assembler for homebrew CPUs.
 This package provides a microcode macro-assembler (macros provided by cpp)
 which helps build microcode ROM images for home-designed CPUs and other state
 machines of similar complexity.
 .
 Output is in various formats, including binary images, C files and Verilog.
